

.theme-main-color-1 {
    color: white;
    background-color: #34495e;
}

.theme-main-color-2 {
    color: #0D2E6E;
    background-color: #98AFC7;
}

.theme-main-color-3 {
    color: #88c0d0;
    background-color: #34495e;
}

.hover-theme-main-color-1:hover {
    color: black;
    background-color: #34495e;
}
.hover-theme-main-color-2:hover {
    color: #0D2E6E;
    background-color: #98AFC7;
}
.hover-theme-main-color-3:hover {
    color: #88c0d0;
    background-color: #034F84;
}
.hover-theme-main-4:hover {
    background-color: #034F84;
}
.owned {
    color: black;
    background-color: rgb(10, 146, 105);
}

.owned:hover {
    background-color:rgb(8, 118, 133);  
}

.refined-search-color {
    background-color: #34495e;
}


.author-href {
    color: white;
}