

.theme-main-color-1 {
    color: black;
    background-color: #9b5de5;
}

.theme-main-color-2 {
    color: black;
    background-color: #f15bb5;
}

.theme-main-color-3 {
    color: white;
    background-color: #00bbf9;
}

.hover-theme-main-color-1:hover {
    color: black;
    background-color: #f3722c;
}
.hover-theme-main-color-2:hover {
    color: black;
    background-color: #bb1da6;
}
.hover-theme-main-color-3:hover {
    color: #88c0d0;
    background-color: #00f5d4;
}
.hover-theme-main-4:hover {
    background-color: #23d4bd;
}
.owned {
    color: black;
    background-color: #43aa8b;
}

.owned:hover {
    background-color:#90be6d;  
}

.checkbox-div {
    background-color: #e63946;
}

.refined-search-color {
    background-color: #1d3557;
}

.refined-search {
    background-color: #90be6d!important;
}
