
.theme-main-color-1 {
    color: black;
    background-color: #657e36;
}

.theme-main-color-2 {
    color: #0e6934;
    background-color: #e3e65d;
}

.theme-main-color-3 {
    color: #3bd67b;
    background-color: #708515;
}

.hover-theme-main-color-1:hover {
    color: black;
    background-color: #7fbe18;
}
.hover-theme-main-color-2:hover {
    color: #5ba10a;
    background-color: #d6d32d;
}
.hover-theme-main-color-3:hover {
    color: #bec833;
    background-color: #87be20;
}
.hover-theme-main-4:hover {
    background-color: #485d0f;
}
.owned {
    color: black;
    background-color: rgb(21, 122, 92);
}

.owned:hover {
    background-color:rgb(12, 88, 76);  
}

.refined-search-color {
    background-color: #34495e;
}
