

/* HEADING */
.main-heading-container {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 80px;
    top: 0px;
    left: 0px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    overflow: hidden;
    background-color: var(--main-background-lighter-twelve);
}

.main-menu-icon {
    display: inline-flex;
    position: relative;
    height: 100%;
    z-index: 2;
    cursor: pointer;
}

.main-heading-text {
    cursor: pointer;
    font-size: 8vw;
    display: inline-flex;
    padding-right: 1vw;
    position: relative;
    margin: 0px;
    height: min-content;
    overflow: hidden;
    white-space: nowrap;
}



.main-heading-search-submit:hover {
    cursor: pointer;
}











/* MENU */

.main-menu {
    font-family: 'Roboto', sans-serif;
    z-index: 3;
    display: none;
    width: min(50%,220px);
    position: fixed;
    top: 80px;
    left: 0px;
    height: auto;
}

.main-menu-entry {
    display: inline-block;
    width: 97.5%!important;
    font-size: min(9vw, 36px);
    text-decoration: none;
    padding-left: 5%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    margin-left: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: var(--main-background-lighter-eleven);
    color: black;
}

.main-menu-entry-first {
    border-top: 1px solid black;
}

.main-menu-entry-last {
    border-bottom-right-radius: 5px;
}

.main-menu-entry-search {
    width:105%!important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main-menu-entry-search:focus {
    width: 55vw!important;
}

.frame-menu-entry-search-button {
    display: inline-block;
    width: 103%!important;
    font-size: min(9vw, 36px);
    text-decoration: none;
    padding-left: 5%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    margin-left: 0px;
    cursor: pointer;
    background-color: var(--main-background-lighter-eleven);
}

.frame-menu-entry-search-button:hover {
    background-color: var(--main-background-lighter-ten);
}




.theme-switcher {
    position: fixed;
    z-index: 2;
    left: 0px;
    bottom: 0px;
    font-size: min(5vw, 35px);
    padding: min(1vw, 30px);
    border-top-right-radius: min(2vw, 40px);
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.theme-switcher:hover {
    cursor: pointer;
}


.language-switcher {
    position: fixed;
    z-index: 2;
    right: 0px;
    bottom: 0px;
    font-size: min(5vw, 35px);
    padding: min(1vw, 30px);
    border-top-left-radius: min(2vw, 40px);
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.language-switcher:hover {
    cursor: pointer;
}