

* {
    font-family: 'Roboto', sans-serif!important;
    margin: 0px;
    padding: 0px;
}

.window {
    position: absolute;
    top: 100px;
    width: 80%;
    left: 8%;
    padding: 1%;
    border-radius: 0.3vw;
    min-height: 60%;
    height: min-content;
    background-color: var(--main-background-lighter-twelve);
}

.flex-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
}


.flex-container > textarea {
    flex: 1 1 50px;
    resize: none;
    padding: 0.4%;
    margin: 0px;
    margin: 0.2%;
    border: 2px solid black;
    border-radius: 2px;
    background-color: var(--main-background-lighter-twelve);
}

.flex-container > input {
    flex: 1 1 50px;
    resize: none;
    padding: 0.4%;
    margin: 0px;
    margin: 0.2%;
    border: 2px solid black;
    border-radius: 2px;
    background-color: var(--main-background-lighter-twelve);
}

.flex-container > #userChangePassword {
    flex: 1 1 50px;
    resize: none;
    padding: 0.4%;
    margin: 0px;
    margin: 0.2%;
    border: 2px solid black;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    line-height: 35px;
    transition: 0.25s all linear;
}

.flex-container > #userChangePassword:hover {
    background-color: var(--main-background-lighter-eleven);
}

#title {
    display: inline-block!important;
    text-align: center;
    flex: none;
    width: 100%;
    height: min-content;
}

#userDescription {
    text-align: center;
    flex-basis: 100%!important;
    height: 40vh;
}


#password {
    margin-top: 3%;
    width: 20%;
    margin-left: 40%;
}

#userSubmit {
    margin-top: 0.2%;
    height: 10%;
    width: 20%;
    left: 40%;
    border: black;
    transition: 0.2s all ease-in;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--main-font-color-two);
}

#userSubmit:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(44, 44, 44);
}


.saved {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 2vw;
    border-radius: 10vw;
    height: 2.6vw;
    width: auto;
    display: none;
    margin: 0.3vw;
    padding: 0.1vw;
    text-align: center;
    vertical-align: center;
    background-color: green;
    z-index: 2;
}



