.choose-block {
    bottom: 0px;
    z-index: 0;
}

.choose-entry {
    width: 80%;
    padding-left: 10%;
    margin-top: min(0.5vh, 5px);
    margin-bottom: min(0.5vh, 5px);
    font-size: min(4vw, 20px);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    float: right;
    text-decoration: none;
    transition: all 0.2s linear;
    overflow-x: hidden;
}

.choose-entry:hover {
    width: 83%;
    box-shadow: inset 0px 0px 400px 110px rgba(255, 255, 255, .1);
}


.block-placeholder {
    width: 80%;
    margin-top: min(0.5vh, 5px);
    margin-bottom: min(0.5vh, 5px);
    padding-top: min(1vh, 10px);
    padding-bottom: min(1vh, 10px);
    float: right;
    text-decoration: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: inset 0px 0px 400px 110px rgba(255, 255, 255, .3);
}