@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* HEADING */
.main-heading-container {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 80px;
    top: 0px;
    left: 0px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    overflow: hidden;
}

.main-menu-icon {
    display: inline-flex;
    position: relative;
    height: 100%;
    z-index: 2;
    cursor: pointer;
}

.main-heading-text {
    font-size: 3vw;
    display: inline-flex;
    position: relative;
    margin: 0px;
    height: min-content;
    overflow: hidden;
    white-space: nowrap;
}

.main-heading-search {
    display: inline-flex;
    position: relative;
    height: 100%;
    margin: 0px;
}

.main-heading-search-text {
    font-size: min(2vw, 30px);
    width: auto;
    border-radius: 130px;
    border: 0px;
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
    outline: none;
}

.main-heading-search-submit {
    font-size: min(2vw, 30px);
    width: 8vw;
    border-radius: 130px;
    border: 0px;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;

}


.main-heading-search-submit:hover {
    cursor: pointer;
}











/* MENU */

.main-menu {
    font-family: 'Roboto', sans-serif;
    z-index: 3;
    display: none;
    width: min(15%, 220px);
    position: fixed;
    top: 80px;
    left: 0px;
    height: auto;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.main-menu-entry {
    display: inline-block;
    width: 100%;
    font-size: min(2vw, 36px);
    color: black;
    text-decoration: none;
    padding-left: 5%;
}




