

* {
    font-family: 'Roboto', sans-serif!important;
}


.block-container {
    width: 94%;
    left: 3%;
    position: absolute;
    top: 80px;
    bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

@media screen and (max-width: 1000px) {
    .block-container {
        width: 100%;
        left: 0px;
    }

    .block {
        width: 77%!important;
    }

    .choose-block {
        width: 19%!important;
        margin-right: 0px!important;
        border-right: 3px solid black;
    }
}

.big-top {
    top: 250px;
}

.big-top > .block {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.block {
    min-height: 100%;
    height: min-content;
    width: 70%;
    position: relative;
}

.scroll-el {
    position: absolute;
    top: min(6vw, 80px);
    bottom: 80px;
    right: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow: auto;
}


.block-heading {
    font-size: min(3vw, 40px);
    text-align: center;
    text-decoration: underline;
    margin-top: min(3%, 20px);
    margin-bottom: min(3%, 20px);
    font-weight: bold;
    padding: 0px;
}

.block-entry {
    width: 95%;
    font-size: min(1.3vw, 25px);
    padding: min(2%, 10px);
    margin-top: 0.3vw;
    margin-bottom: 0.3vw;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media screen and (max-width: 1000px) {
    .block-entry {
        font-size: 20px;
    }
}



.block-entry-element {
    display: inline;
}

.block-entry-heading {
    display: inline;
}

.article-title {
    text-decoration: underline;
}

.user-name {
    text-decoration: underline;
}


.verified {
    display: inline;
    color: rgb(45, 209, 45);
}



.page-arrow {
    position: absolute;
    bottom: 5px;
    border-radius: 25%;
}

.page-arrow:hover {
    cursor: pointer;
    background-color: gray;
}

.articlePage {
    left: 45%;
    width: 10%;
    bottom: 0px;
    position: absolute;
}

.userPage {
    left: 45%;
    width: 10%;
    bottom: 0px;
    position: absolute;
}

.highlightPage {
    left: 45%;
    width: 10%;
    bottom: 0px;
    position: absolute;
}


.page-arrow-left {
    left: 5px;
}

.page-arrow-right {
    right: 5px;
}

.choose-block {
    width: 20%;
    margin-right: 10px;
}


@media screen and (max-width: 1000px) {
    .big-top > .block {
        border-top-left-radius: 0px;
    }

    .big-top > .choose-block {
        border-top-right-radius: 0px;
        border-top-left-radius: 5px;
    }
}


.side-bar-max-fix {
    position: fixed;
    top: 80px;
    bottom: 0px;
    left: 7.4%;
    width: 18.91%;
    z-index: -2;
}

.big-top ~ .side-bar-max-fix-fix {
    position: absolute;
    height: 280px!important;
    left: 7%;
    width: 20%;
    z-index: -1;
    background-image: none!important;
    background-color: white!important;
}

@media screen and (max-width: 1570px) {
    .side-bar-max-fix {
        left: 7.3%;
        width: 18.91%;
    }
}