@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif!important;
}


.block-container {
    width: 94%;
    left: 3%;
    position: absolute;
    top: 100px;
    bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.big-top {
    top: 250px;
}

.block {
    border-radius: 10px;
    overflow: auto;
    min-height: 600px;
    max-height: 1400px;
    height: 75%;
    flex: 1 1 450px; /*  Stretching: */
    /*flex: 0 1 150px;   No stretching: */
    margin: 5px;
}

.highlights-block {
    margin-bottom: 100px;
}


.block-heading {
    font-size: 3vw;
    text-align: center;
    text-decoration: underline;
}

.block-entry {
    width: 96%;
    font-size: 2vw;
    padding: 2%;
    margin-top: 0.3vw;
    margin-bottom: 0.3vw;
    cursor: pointer;
}


.block-entry-element {
    display: inline;
}

.block-entry-heading {
    display: inline;
}

.article-title {
    text-decoration: underline;
}

.user-name {
    text-decoration: underline;
}


.verified {
    display: inline;
    color: rgb(45, 209, 45);
}