.settings-navigation-bar {
    width: 50%;
    min-width: 200px;
    margin: 0px;
    margin-left: 25%;
    padding-bottom: 10px;
    height: min-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: 4px solid rgba(255, 255, 255, 0.4);
}


.snb-element {
    width: 48px;
    justify-content: space-evenly;
    box-shadow: inset 0px 0px 400px 110px rgba(255, 255, 255, 0.4);
    padding: 6px;
    margin: 0px;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    transition: 0.25s all linear;
}

.snb-element:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.snb-element-selected {
    background-color: var(--main-accent-color);
    transform: scale(1.2)!important;
}

.settings-reload {
    width: 5%;
    min-width: 50px;
    margin: 0px;
    margin-left: 47.5%;
    margin-bottom: 10px;
    padding: 7.5px;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0px;
    box-shadow: inset 0px 0px 400px 110px rgba(255, 255, 255, 0.4);
    border-bottom-left-radius: 5px;
}

.settings-reload:hover {
    cursor: pointer;
    background-color: var(--main-accent-color);
    transform-origin: top right;
    transform: scale(1.05);
    transition: 0.2s all linear;
}


.settings-page {
    width: 50%;
    min-width: 200px;
    margin: 0px;
    margin-left: 25%;
    padding-bottom: 10px;
    height: min-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.setting-heading {
    text-align: center;
    color: var(--main-font-extreme);
}



.option {
    margin-left: 60%;
}


.option > label {
    color: var(--main-font-extreme);
}




/* The switch - the box around the slider */
.switch {
    position: absolute;
    width: 60px;
    height: 34px;
    left: 50%;
    margin-left: -30px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
} 