

* {
    font-family: 'Roboto', sans-serif!important;
}



.user-block-entry {
    resize: none;
    height: min-content;
    border: none;
    border: none;
    width: 100%;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    margin-top: 2px;
    text-align: center;
}

.user-block-title {
    font-size: 30px;
    text-decoration: underline;
}

.user-type-administrator { color: red; }
.user-type-moderator { color: darkgreen; }

.user-block-description {
    padding: 1%;
    margin-top: 3vh;
    width: 98%;
    height: 50vh;
    resize: none;
    color: black;
    font-size: 18;
}



.like-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 30px;
    margin: 5px;
    background-color: rgb(83, 83, 83);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}


.liked {
    background-color: red;
}


.user-settings {
    height: min(4vw, 100px);
    left: 1vw;
    top: 1vw;
    position: absolute;
    cursor: pointer;
    z-index: 1;
}

.user-settings:active {
    transform: rotate(90deg);
   -webkit-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
}


.user-settings-menu {
    z-index: 0;
    position: absolute;
    top: 1vw;
    left: 1vw;
    border-top-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    padding-top: min(5vw, 110px);
    width: min(10vw, 200px);
    overflow: hidden;
}

.user-settings-menu > div {
    padding-left: 0.3vw;
    padding-bottom: 0.1vw;
    padding-top: 0.1vw;
    cursor: pointer;
    font-size: min(1.5vw, 30px);
}


.verified {
    position: absolute;
    right: 100px;
    top: 15px;
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    color: rgb(45, 209, 45);
    background-color: rgb(167, 167, 167);
    border-radius: 5vw;
    text-align: center;
}

.locked {
    position: absolute;
    right: 100px;
    top: 15px;
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    color: red;
    background-color: rgb(167, 167, 167);
    border-radius: 5vw;
    text-align: center;
}


