@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif!important;
}

.user-block  {
    position: absolute;
    width: 88%;
    background-color: gray;
    top: 100px;
    left: 5%;
    padding: 1%;
    margin: 0px;
    border-radius: 1vw;
}



.user-block-entry {
    resize: none;
    color: black;
    background-color:gray;
    height: min-content;
    border: none;
    border: none;
    width: 100%;
    font-size:  1.2vw;
    height: 1.4vw;
    padding: 0px;
    margin: 0px;
    text-align: center;
    overflow: hidden;
}

.user-block-title {
    font-size:  3vw;
    height: 3.7vw;
    text-decoration: underline;
}

.user-type-administrator { color: red; }

.user-block-description {
    padding: 1%;
    margin-top: 3vh;
    width: 100%;
    background-color: lightgray;
    height: 50vh;
    resize: none;
    color: black;
    font-size: 2vw;
}



.delete-user {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 2vw;
    margin: 1vw;
    background-color: rgb(83, 83, 83);
    padding: 0.5vw;
    border-radius: 10px;
    cursor: pointer;
    width: 5.7vw;
}

.verify-user {
    position: absolute;
    top: 0px;
    left: 8vw;
    font-size: 2vw;
    margin: 1vw;
    background-color: rgb(83, 83, 83);
    padding: 0.5vw;
    border-radius: 10px;
    cursor: pointer;
}


.like-user {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 2vw;
    margin: 1vw;
    background-color: rgb(83, 83, 83);
    padding: 0.5vw;
    border-radius: 10px;
    cursor: pointer;
}


.liked {
    background-color: red;
}


.verified {
    position: absolute;
    right: 7vw;
    top: 1vw;
    padding: 0px;
    margin: 0px;
    font-size: 3vw;
    color: rgb(45, 209, 45);
    background-color: rgb(167, 167, 167);
    border-radius: 5vw;
    height: 3.4vw;
    width: 3.4vw;
    text-align: center;
}