
.refined-search {
    background-color: gray;
    top: 80px;
    width: 50%;
    position: absolute;
    left: 25%;
    padding-top: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 140px;
}

.refined-search-icon {
    width: 35px;
    margin-left: auto;
    left: 50%;
    position: absolute;
    margin-left: -17.5px;
    height: 35px;
    background-color: none;
    padding: 4px;
    padding-bottom: 10px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.refined-search-icon:hover {
    cursor: pointer;
}

.refined-search-icon-checked {
    padding-bottom: 4px;
    box-shadow: inset 0px 0px 400px 110px rgba(255, 255, 255, 0.4);
    border-bottom: 6px solid black;
}

.refined-search-text {
    
    width: 40%;
    margin-left: 25%;
    border: none;
    height: 45px;
    border-radius: 5px;
    padding-left: 7px;
    outline: none;
}

.refined-search-submit {
    width: 10%;
    vertical-align: center;
    border: none;
    height: 45px;
    border-radius: 5px;
    padding-left: 7px;
}

.refined-search-submit:hover {
    cursor: pointer;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    transform-origin: center;
    box-shadow: 0 0 3pt 2pt orange;
}

.refined-search-table {
    margin-top: 5px;
    width: 100%;
    padding-right: 10px;
}

.refined-search-table > tbody > tr > td {
    position: relative;
    max-width: 50px;
}

.refined-search-table > tbody > tr > th > label {
    text-align: center;
    font-weight: normal;
    font-size: 1vw;
}

.refined-search-table > tbody > tr > th {
    width: 13.5%;
}

