.viewbar-content > p {
    line-height: 24px;
    font-size: 18px;
    margin: 2px;
}


.viewbar-content > h2 {
    border-top: 1px solid var(--settings-navigation-bar-bottom-color);
    margin: 2px;
    padding-top: 10px;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.danger-warning {
    height: 25px;
    padding-left: 7px;
    filter: invert(21%) sepia(98%) saturate(4422%) hue-rotate(326deg) brightness(71%) contrast(105%);
}


.chart-container {
    width: 100%;
    height: 300px;
    overflow-x: auto;
}

.chart-gallery-control {
    height: 30px;
    width: fit-content;
    color: var(--article-icon-color);
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    transition: background-color 0.2s linear;
    padding: 0 5px;
    margin: 0 5px;
    margin-bottom: 5px;
    text-align: center;
    background-color: var(--share-button-default-background);
}


.chart-gallery-control:active {
    transition: background-color 0s linear;
    background-color: var(--viewbar-click-background-overlay-color);
}


.chart-gallery-number {
    width: 90px;
}
.chart-gallery-number:active {
    background-color: var(--share-button-default-background);
}
.chart-gallery-start {
    cursor: auto;
}
.chart-gallery-stop {
    cursor: auto;
}


.chart-control-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}











.code-box {
    padding-top: 8px;
    padding-bottom: 2px;
    border-top: 1px solid var(--select-icon-color);
    border-bottom: 1px solid var(--select-icon-color);
}

.create-code-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.create-code-container > input, .create-code-container > button {
    margin-top: 10px;
}

.create-code-container > input {
    border: 1px solid var(--article-icon-color);
    padding: 4px;
    color: var(--article-icon-color);
}

.create-code-container > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.code-box > button, .create-code-create, .create-code-cancel {
    height: 30px;
    width: fit-content;
    color: var(--article-icon-color);
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    transition: background-color 0.2s linear;
    padding: 0 5px;
    margin: 0 5px;
    margin-bottom: 5px;
    text-align: center;
    background-color: var(--share-button-default-background);
}

.create-code-create, .create-code-cancel {
    margin-top: 7px;
}

.create-code-create:active, .create-code-cancel:active {
    transition: background-color 0s linear;
    background-color: var(--viewbar-click-background-overlay-color);
}


.code-new-list {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
}


.code-show-container {
    top: 0px;
    left: 0px;
    width: 100%;
    bottom: 0px;
    position: absolute;
    z-index: 4;
    background-color: rgba(128, 128, 128, 0.383);
    display: flex;
    justify-content: center;
    align-items: center;
}

.code-show-innerContainer {
    background-color: white;
    border: 1px solid rgb(216, 216, 216);
    width: 300px;
    height: 140px;
}


.code-show-innerContainer > p {
    width: 100%;
    text-align: center;
    margin: 0px;
    color: var(--dark-color);
}


.code-show-type {
    font-size: 30px;
    font-weight: bold;
    line-height: 37px;
}

.code-show-intended, .code-show-name {
    font-size: 20px;
    line-height: 26px;
}

.code-show-delete {
    margin: 10px auto;
}






.table-container {
    width: 100%;
    height: 500px;
}

.table-control {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    margin: 20px auto;
}

.table-left, .table-right {
    margin: 0px;
}