@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');

:root {
    --side-main-color: rgb(97, 178, 175);
    --side-dark-color: #5CA7A5;
    --side-user-color: #66B9B7;
    --side-border-color: #d2e9e9;
    --select-main-color: #64828A;
    --select-icon-color: #AEE0B8;
    --select-line-color: #79969c;
    --article-text-color: #456B71;
    --article-text-color-darker: #395458;
    --article-icon-color: #49A6A2;
    --dark-color: #2A3949;
    --light-color: #ECF7F7;

    --overlay-window-color: #498583;

    --accent-color: #B7094C;
    --accent-color-light: #c3507c;

    --share-button-default-background: #d9f1f1;
    --viewbar-click-background-overlay-color: #2e959475;

    --moderator-font-color: green;
    --administrator-font-color: red;

    --profile-main-background: lightcyan;

    --createpost-background-color: #66b9b76c;
    --createpost-border-color: #2a394985;

    font-family: "Cairo", sans-serif;

    --liked-color: #ec95b6b0;
    --pinned-color: #10f59688;
    --locked-color: #e69ec888;

    --settings-navigation-bar-bottom-color: #49A6A2;

    --profilebox-bar-background-color-dark: #2f7a78;
    --profilebox-bar-background-color-light: rgb(99, 153, 151);

    --profilebox-column-border-color: #49A6A2;


    --settings-selected-border-color: #4062f6;
    --settings-dropdown-fade-color: rgba(97, 178, 175, 0.4);

    /* Sets text cursor color */
    caret-color: #c3507c;


    scrollbar-color: var(--accent-color-light) var(--side-main-color) !important;
    scrollbar-width: thin !important;


    --side-notification-element-color: rgb(81, 221, 221);


    --tutorial-click-color: #519493;



    --side-main-color-transparent: hsla(178, 34%, 54%, 0.8);
}

.bold {
    font-weight: bold;
}

::selection {
    background-color: #AEE0B8;
    color: currentColor;
}







.button-simple, .button-simple-clickable {
    display: block;
    height: 30px;
    width: fit-content;
    color: var(--article-icon-color);
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.2s linear;
    padding: 0 10px;
    margin: 10px auto;
    margin-bottom: 24px;
    text-align: center;
    background-color: var(--share-button-default-background);
}

.button-simple-clickable:active {
    transition: background-color 0s linear;
    background-color: var(--viewbar-click-background-overlay-color);
}