.signup {
    z-index: 4;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-innerContainer {
    width: 800px;
    height: 1400px;
    background-color: var(--side-user-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    position: relative;
}


.signup-innerContainer > input, .signup-innerContainer > textarea {
    border-radius: 10px;
    width: 700px;
    height: 80px;
    color: var(--dark-color);
    border: 3px solid var(--dark-color);
    padding: 10px;
    background-color: var(--side-dark-color);
    margin-bottom: 10px;
    resize: none;
    font-size: 32px;
    line-height: 40px;
}

.signup-innerContainer > input[value=""], .signup-innerContainer > input[value=""] {
    background-color: var(--accent-color-light);
}

.signup {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
}

.signup-heading {
    color: var(--dark-color);
    font-size: 50px;
    margin: 0px;
}

.signup-notice {
    width: 450px;
    color: var(--dark-color);
    font-size: 30px;
}


.signup-description {
    height: 400px!important;
}

.signup-submit {
    color: var(--dark-color);
    cursor: pointer;
}