.profilepicture-container {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.profilepicture-upload-container {
    width: 750px;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 375px;
    overflow: hidden;

    position: relative;
}

.profilepicture-imagepreview {
    height: 100%;
}

.profilepicture-imageupload {
    position: absolute;
    bottom: 00px;
    height: 180px;
    padding-top: 30px;
    width: 750px;
    left: 0px;
    text-align: center;

    background-color: var(--side-main-color-transparent);
}

.profilepicture-imageupload:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 400px 110px rgba(255, 255, 255, 0.15);
}


.profilepicture-imageupload > img {
    width: 150px;
}