.loginbox-container {
    z-index: 4;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginbox-innerContainer {
    width: 750px;
    height: 900px;
    background-color: var(--side-dark-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.loginbox-close {
    position: absolute;
    top: 20px;
    right: 26px;
    cursor: pointer;
    font-size: 70px;
    color: var(--dark-color);
}

.loginbox-innerContainer > input {
    border-radius: 10px;
    width: 600px;
    height: 80px;
    color: var(--dark-color);
    border: 2px solid var(--dark-color);
    padding: 10px;
    background-color: var(--side-user-color);
    font-size: 40px;
}

.loginbox-heading {
    color: var(--dark-color);
    font-size: 80px;
    margin: 0px;
}

.loginbox-description {
    width: 550px;
    color: var(--dark-color);
    font-size: 40px;
}

.loginbox-username {
    margin-bottom: 10px;
}

.loginbox-password {
    margin-bottom: 10px;
}

.loginbox-submit {
    color: var(--dark-color);
    cursor: pointer;
}