.sidebar-container {
    width: 640px;
}

.sidebar-toggle {
    padding: 10px;
    padding-right: 20px;
    cursor: pointer;
    border-bottom-right-radius: 10px;
}

.sidebar-toggle > img {
    width: 100px;
    height: 100px;
}

.sidebar-close {
    padding: 10px;
    height: 60px;
    width: 60px;
    border-bottom-left-radius: 10px;
}

/* USER INFO */

.userview-container {
    height: 360px;
}

.userview-user {
    height: 260px;
}

.userview-bar {
    height: 100px;
}

.userview-details {
    width: 340px;
    margin-top: 90px;
    padding-right: 40px;
}

.userview-image {
    width: 260px;
    height: 260px;
}

.userview-image > img {
    width: 200px;
    height: 200px;
    margin-left: 10px;
    margin-top: 40px;
    border-radius: 130px;
}

.userview-name {
    font-size: 36px;
    height: 40px;
}

.userview-employment {
    font-size: 30px;
    height: 70px;
    margin-top: 10px;
}

.userview-bar > div {
    border-radius: 44px;
    padding: 12px;
}

.userview-bar > div > img {
    width: 60px;
    height: 60px;
}

.userview-bar > div:hover {
    cursor: pointer;
}

.userview-bar > div:active {
    
}


/* CATEGORIES */

.category-container {
    top: 360px;
    bottom: 100px;
    padding-top: 40px;
}

.category-header {
    margin-left: 40px;
    padding-left: 30px;
    padding-right: 20px;
    width: 520px;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 60px;
    height: 80px;
    border-bottom: 3px solid black;
}


.category-header > img {
    height: 40px;
    width: 40px;
    top: 42px;
    left: -26px;
}

/*
.category-selected {
    margin-left: 35px;
    padding-left: 0px;
    padding-right: -5px;   
}
*/

.category-selected {
    border-bottom: 4px solid white;
}

.category-header:hover > .bicu {
    background-color: rgba(255, 255, 255, 0.1);
    display: block;
    width: 875px;
    border-radius: 15px;
}

.category-selected > img {
    display: block;
}

.category-selected > .scdb {
    position: absolute;
    width: 8px;
    height: 73px;
    background-color: white;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    top: 20px;
    left: -40px;
}



.sidebar-not-logged-in > .userview-container {
    height: 290px;
}






/* INFO */

.information-container {
    height: 100px;
}

.information-element {
    padding: 14px;
    border-radius: 48px;
}

.information-element > img {
    width: 60px;
    height: 60px;
}

.information-element:active {
    
}