.viewbar-container {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background-color: white;
}


.viewbar-close {
    position: absolute;
    top: 20px;
    cursor: pointer;
    right: 20px;
    width: 80px;
    filter: invert(43%) sepia(36%) saturate(280%) hue-rotate(145deg) brightness(95%) contrast(89%);
    color: var(--article-text-color);
    z-index: 3;
}


.viewbar-content {
    color: var(--article-text-color);
    width: 90%;
    height: 85%;
    z-index: 2;
    position: absolute;
    top: 5%;
    left: 0%;
    padding: 5%;
    overflow-y: auto;
}

.viewbar-content-heading {
    color: var(--article-text-color-darker);

    font-size: 60px;
    font-weight: 400;
    line-height: 70px;
    margin-bottom: 40px;
}

.viewbar-content-text {
    color: var(--article-text-color);
    font-size: 35px;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 40px;
}


.viewbar-content-toolbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: left;
}

.viewbar-content-toolbar > button {
    height: 100%;
    width: fit-content;
    color: var(--article-icon-color);
    font-size: 50px;
    margin-left: 5%;
    margin-right: 5%;
    cursor: pointer;
    border: none;
    background-color: white;
}


.viewbar-content-author {
    width: fit-content;
    display: flex;
    flex-direction: row;
    height: 150px;
    margin-bottom: 40px;
    align-items: center;
}

.viewbar-content-author > img {
    height: 150px;
}

.viewbar-content-author-info {
    width: 550px;
    margin-left: 50px;
    font-size: 35px;
    font-weight: 500;
}

.viewbar-content-author-info > a, .viewbar-content-author-info > p {
    display: inline;
    font-size: 40px;
    color: var(--article-icon-color);
    font-weight: 600;
    text-decoration: none;
}

.viewbar-content-author-info > p {
    color: var(--dark-color);
    font-weight: 600;
}