.profile-container {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--select-main-color);
}

.profile-innerContainer {
    width: 600px;
    height: 600px;
    background-color: var(--side-main-color);
    position: relative;
    border-radius: 2px;
}


.profile-middle-column {
    width: 150px;
    padding: 25px;
    position: absolute;
    left: 200px;
    top: 50px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: var(--profile-main-background);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    transition: 0.3s all ease-in;

    z-index: 2;

    cursor: pointer;
}


.profile-middle-column-toggled {
    width: 150px;
    padding: 35px;
    position: absolute;
    left: 190px;
    top: 30px;
    height: 500px;
    cursor: initial;
}


.profile-image {
    height: 150px;
    width: 150px;
}

.profile-image > img {
    width: 100%;
    height: 100%;
}


.profile-username {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.profile-user-type-moderator {
    color: var(--moderator-font-color);
}

.profile-user-type-administrator {
    color: var(--administrator-font-color);
}

.profile-employment, .profile-age {
    width: 100%;
    font-size: 16px;
    text-align: center;
}

.profile-description {
    margin-top: 5px;
    margin-left: -7.5%;
    width: 115%;
    font-size: 11px;
    height: 250px;
    resize: none;
    border: 1px solid var(--dark-color);
    padding: 2.5%;
    background-color: var(--profile-main-background);
    color: var(--dark-color);
}

.profile-middle-column-click-barrier {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 3;
}


.profile-side-column {
    position: absolute;
    left: 200px;
    width: 150px;
    padding: 25px;
    top: 50px;
    height: 500px;
    transition: 0.7s all ease-in;
    display: flex;
    flex-direction: column;
}


.profile-side-column > div {
    width: 150px;
    font-size: 14px;
    background-color: var(--select-icon-color);
    border-radius: 3px;
    margin-top: 25px;
    padding: 7px;
}


.profile-right-column-toggled {
    left: 380px; /* slightly inside of the middle thing */
}

.profile-right-column-toggled > div {
    padding-left: 15px;
}

.profile-left-column-toggled {
    left: 5px; /* slightly inside of the middle thing */
    padding-right: 15px;
}

.profile-left-column-toggled > div {
    width: 152px;
    padding-right: 13px;
}

.profile-click-tip {
    position: absolute;
    bottom: 7px;
    margin: 0 auto;
    width: 150px;
    text-align: center;
    font-style: italic;
    font-size: 12px;
}