/* Change viewbar styles in order to get full width */
.viewbar-content {
    width: 100%!important;
    padding: 0%!important;
    height: 100%!important;
}

.viewbar-content-heading {
    padding-left: 5%;
    padding-top: 5%;
}

.profilebox {
    padding-top: 15px;
}

.profilebox-bar {
    width: 100%;
    height: 300px;
    position: relative;
    background-image: linear-gradient(to right, var(--profilebox-bar-background-color-light), var(--profilebox-bar-background-color-dark), var(--profilebox-bar-background-color-light))
}

.profilebox-bar > img {
    position: absolute;
    top: 20px;
    bottom: 20px;
    object-fit: cover;
    height: 260px;
    width: 260px;
    left: 50%;
    margin-left: -140px;
}

.profilebox-bar-bar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
    background-color: hsla(0, 0%, 100%, 0.9);
    margin: 0px; 
}

.profilebox-bar-bar > h1 {
    text-align: center;
    margin: 0px;
    line-height: 55px;
    font-size: 45px;
    height: 55px;
}

.profilebox-bar-bar > .profilebox-bar-like {
    position: absolute;
    top: 5px;
    height: 50px;
    left: 5px;
    cursor: pointer;
    border-radius: 100px;
}

.profilebox-bar-liked {
    filter:  invert(14%) sepia(73%) saturate(7441%) hue-rotate(4deg) brightness(94%) contrast(133%)!important;
}


.profilebox-column {
    width: 49%;
    display: inline-block;
    min-height: 400px;
    margin: 20px 0;
    height: min-content;
}

.profilebox-column-left {
    float: left;
    border-right: 2px solid var(--profilebox-column-border-color);
}

.profilebox-column-right {
    float: right;
}

.profilebox-info-column {
    margin: 0px;
    margin-left: 15px;
    padding-left: 10px;
    width: 90%;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 6px;
}

.profilebox-info-column > p {
    margin: 0px;
    width: 100%;
    display: inline;
    font-weight: normal;
}





.profilebox-verified {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 50px;
    width: 50px;
    padding-left: 1px;
    filter: invert(23%) sepia(93%) saturate(2067%) hue-rotate(96deg) brightness(98%) contrast(106%);
}



.profile-chat {
    position: absolute;
    right: 75px;
    top: 10px;
    height: 40px;
    width: 40px;
    padding-left: 1px;
    cursor: pointer;
}