
.report-text, .report-title, .report-submit {
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
}

.report-text, .report-title, .report-submit {
    border-radius: 5px;
    border: 1px solid var(--createpost-border-color);
    padding: 5px;
    background-color: none;
    box-shadow: inset 0px 0px 400px 110px var(--createpost-background-color);
    font-size: 16px;
}

.report-text {
    height: 200px;
    min-height: 50%;
    resize: none;
}

.report-submit {
    margin: 0 auto;
    width: 30%;
    min-width: 100px;
    max-width: 90%;
    display: block;
    position: relative;
    margin-top: 10px;
}

.report-submit:hover {
    background-color: var(--select-icon-color);
    cursor: pointer;
}

