.selectbar-container {
    position: absolute;
    left: 320px;
    top: 0px;
    bottom: 0px;
    background-color: var(--side-accent-color-two)
}

@media screen and (max-width: 1500px) {
    .selectbar-container {
        right: 0px;
    }
}

@media screen and (min-width: 1500px) {
    .selectbar-container {
        right: 40%;
    }
}

.selectbar-page {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.selectbar-page-heading {
    font-size: 40px;
    margin: 27px;
    margin-right: 5px;
    height: min-content;
}

.selectbar-page-tools {
    margin: 30px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 20%;
    min-width: 200px;
    height: min-content;
}

.selectbar-page-search-box {
    position: relative;
}

.selectbar-page-search {
    height: 38px;
    width: 100%!important;
    padding-left: 23%;
    min-width: 140px;
    font-size: 17px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px solid var(--main-accent-color);
    margin-right: 5px;
}

/* Spielerei 
.selectbar-page-search:focus {
    width: 30%;
    min-width: 100px;
    padding-left: 23%;
    margin-left: 2%;
}*/

.selectbar-page-search-logo {
    position: absolute;
    width: 25px;
    height: 25px;
    cursor: pointer;
    left: 0px;
    top: 5px;
}

.selectbar-page-create {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    background-color: var(--main-accent-color-two);
    height: 30px;
    margin-left: 5px;
    padding: 4px;
    border-radius: 4px;
    line-height: 30px;
    cursor: pointer;
}

.selectbar-page-create:hover {
    box-shadow: inset 0px 0px 400px 110px rgba(255, 255, 255, 0.2);
}

.selectbar-page-create > img {
    width: 30px;
    height: 30px;
    padding-right: 5px;
}