.selectbar-container {
    position: absolute;
    left: 320px;
    top: 0px;
    bottom: 0px;
    background-color: var(--select-main-color)
}

@media screen and (max-width: 1500px) {
    .selectbar-container {
        right: 0px;
    }
}

@media screen and (min-width: 1500px) {
    .selectbar-container {
        right: 40%;
    }
}

.selectbar-page {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.selectbar-page-heading {
    font-size: 40px;
    margin: 27px;
    margin-right: 5px;
    height: min-content;
    color: var(--light-color)
}

.selectbar-page-tools {
    margin: 30px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 20%;
    min-width: 200px;
    height: min-content;
}

.selectbar-page-search-box {
    position: relative;
}

.selectbar-page-search {
    height: 38px;
    width: 100%!important;
    padding-left: 23%;
    min-width: 140px;
    font-size: 17px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px solid var(--light-color);
    margin-right: 5px;
    color: var(--light-color);
}

/* Spielerei 
.selectbar-page-search:focus {
    width: 30%;
    min-width: 100px;
    padding-left: 23%;
    margin-left: 2%;
}*/

.selectbar-page-search-logo {
    position: absolute;
    width: 25px;
    height: 25px;
    cursor: pointer;
    left: 0px;
    top: 5px;
    filter: invert(100%) sepia(32%) saturate(265%) hue-rotate(103deg) brightness(101%) contrast(94%);
}

.selectbar-page-create {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    background-color: var(--select-icon-color);
    height: 30px;
    margin-left: 5px;
    padding: 4px;
    border-radius: 4px;
    line-height: 30px;
    cursor: pointer;
}

.selectbar-page-create:hover {
    box-shadow: inset 0px 0px 400px 110px rgba(255, 255, 255, 0.2);
}

.selectbar-page-create > img {
    width: 30px;
    height: 30px;
    padding-right: 5px;
}



/* Articles */

.selectbar-article-container {
    position: absolute;
    top: 12%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}


.selectbar-article-element {
    width: 92%;
    margin: 0 auto;
    position: relative;
    height: 55px!important;
    border-bottom: 1px solid var(--select-line-color);
    cursor: pointer;
}

.selectbar-article-element > img {
    width: 30px;
    position: absolute;
    top: 10px;
    left: 0px;
}

.selectbar-article-element > h1 {
    position: absolute;
    top: 6px;
    left: 40px;
    margin: 0px;
    font-size: 20px;
    color: var(--light-color);
    font-weight: 400;
}

.selectbar-article-element > div {
    position: absolute;
    top: 26px;
    left: 40px;
}

.selectbar-article-element > div > p {
    display: inline;
    font-size: 12px;
    color: var(--light-color);
    font-weight: 400;
    margin: 0px;
}

.selectbar-article-element > div > p > a {
    color: var(--select-icon-color);
}

.selectbar-article-element-selected {
    background-color: var(--select-line-color);
}

.selectbar-article-element-selected::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -27px;
    width: 0; 
    height: 0; 
    right: -5%;
    border-bottom: 27px solid transparent;
    border-top: 27px solid transparent;
  
    border-right: 27px solid white;
}