.sidebar-container {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 320px;
    display: relative;
    background-color: var(--side-main-color);
    z-index: 4;
}

.sidebar-gradient-div {
    position: absolute;
    height: 20px;
    width: 100%;
    z-index: 3;
    background-image: linear-gradient(to top, var(--side-main-color), var(--side-dark-color));
}

.sidebar-toggle {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 5px;
    padding-right: 10px;
    cursor: pointer;
    z-index: 5;
    background-color: var(--side-main-color);
    border-bottom-right-radius: 5px;
}

.sidebar-toggle > img {
    width: 50px;
    height: 50px;
}

.sidebar-close {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px;
    height: 30px;
    width: 30px;
    background-color: var(--side-user-color);
    border-bottom-left-radius: 5px;
    cursor: pointer;
}

/* USER INFO */

.userview-container {
    width: 100%;
    height: 180px;
    background-color: var(--side-user-color);
}

.sidebar-not-logged-in > .userview-container {
    height: 130px;
}

.userview-user {
    width: 100%;
    height: 130px;
}

.userview-bar {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.userview-details {
    float: right;
    width: 170px;
    margin-top: 45px;
    padding-right: 20px;
}

.userview-image {
    width: 130px;
    height: 130px;
    float: left;
    position: relative;
}

.userview-image > img {
    top: 25px;
    left: 25px;
    position: absolute;
    width: 60px;
    object-fit: cover;
    height: 60px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 50%;
}

.userview-details > div > a {
    color: var(--dark-color);
}

.userview-name {
    font-size: 18px;
    text-decoration: underline;
    width: 95%;
    overflow: hidden;
    height: 30px;
}

.userview-employment {
    font-size: 15px;
    width: 95%;
    overflow: hidden;
    height: 35px;
    margin-top: 5px;
}


.userview-bar > div {
    border-radius: 22px;
    padding: 6px;
    position: relative;
}

.userview-bar > div > img {
    width: 30px;
    height: 30px;
}

.userview-bar > div:hover {
    cursor: pointer;
}

.userview-bar > div:active {
    background-color: rgba(255, 255, 255, 0.1);
}


/* CATEGORIES */

.category-container {
    position: absolute;
    top: 180px;
    bottom: 50px;
    right: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--side-main-color);
}

.category-header {
    margin-left: 20px;
    padding-left: 0px;
    padding-right: 0px;
    width: 260px;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 30px;
    color: var(--light-color);
    border-bottom: 1px solid var(--side-border-color);
    text-decoration: none;
    position: relative;
    height: 40px;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 500;
}


.category-header > img {
    display: none;
    transform: rotate(270deg);
    position: absolute;
    height: 20px;
    width: 20px;
    top: 23px;
    left: -26px;
}

.category-header > .bicu {
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    transition: all 0.5s linear;
    top: 0px;
    bottom: 0px;
    left: -300px;
    width: 570px;
    border-radius: 5px;
    display: none;
}

.category-selected {
    font-weight: 600;
}


.category-header:hover > .bicu {
    background-color: rgba(255, 255, 255, 0.1);
    display: block;
}

.category-selected > img {
    display: block;
}

.category-selected > .scdb {
    position: absolute;
    width: 5px;
    height: 40px;
    background-color: white;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    top: 10px;
    left: -20px;
}




/* Notification container */

.notification-container {
    position: absolute;
    top: 200px;
    bottom: 50px;
    width: 90%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    left: 0px;
    overflow-y: auto;
    background-color: var(--select-main-color);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    margin-left: 0px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    transition: 0.3s margin-left ease-out;
}

.notification-container::-webkit-scrollbar {
    display: none;
}

.notification-container-hidden {
    margin-left: -100%;
}

.notification-element {
    width: 100%;
    height: 80px!important;
    background-color: var(--side-notification-element-color);
    position:  relative;
    margin-bottom: 5px;
}

.notification-element > p {margin: 0px; padding: 0px;}

.notification-element-heading {
    position: absolute;
    top: 15px;
    font-size: 17px;
    left: 10px;
}

.notification-element-time {
    position: absolute;
    top: 2px;
    left: 8px;
    font-size: 13px;
    border-radius: 2px;
    padding: 2px!important;
    line-height: 15px;
    box-sizing: border-box;
    background-color: var(--select-icon-color);
}

.notification-element-description {
    position: absolute;
    top: 40px;
    left: 10px;
    right: 40px;
    bottom: 5px;
    line-height: 16px;
    font-size: 14px;
}

.notification-element-side {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 30px;
    background-color: var(--select-icon-color);
    cursor: pointer;
}

.notification-element-side-new {
    background-color: var(--accent-color);
}

.userview-notifications-new {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 7px;
    width: 17px;
    font-size: 15px;
    height: 17px;
    margin: 0px;
    text-align: center;
    line-height: 17px;
    font-weight: bold;
    padding-left: 1px;
}

.notification-new {
    position: fixed;
    bottom: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    right: -400px;
    width: 300px;
    height: 120px;
    padding: 10px;
    box-sizing: border-box;
    z-index: 3;
    background-color: var(--side-main-color);
    transition: 0.8s right ease-out;
    cursor: pointer;
}

.notification-new-show {
    right: 0px;
}

.notification-new-heading {
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0px;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: var(--dark-color);
}

.notification-new-time {
    color: var(--dark-color);
    background-color: var(--select-icon-color);
    border-radius: 2px;
    padding: 1px;
    margin: 0px;
    position: absolute;
    top: 35px;
    left: 10px;
    font-size: 15px;
    line-height: 20px;
}

.notification-new-description {
    position: absolute;
    top: 60px;
    left: 10px;
    font-size: 18px;
    line-height: 23px;
    right: 20px;
    bottom: 10px;
    margin: 0px;
    color: var(--dark-color)
}







/* INFO */

.information-container {
    background-color: var(--side-main-color);
    position: absolute;
    height: 50px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.information-element {
    cursor: pointer;
    padding: 7px;
    border-radius: 24px;
}

.information-element > img {
    width: 30px;
    height: 30px;
}

.information-element:active {
    background-color: rgba(255, 255, 255, 0.1);
}