.viewbar-container {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: white;
}

@media screen and (max-width: 1500px) {
    .viewbar-container {
        left: 320px;
    }
}

@media screen and (min-width: 1500px) {
    .viewbar-container {
        width: 40%;
        margin-left: -320px;
    }
}
