

.webpageinfo-info, .webpageinfo-impressum {
    line-height: 26px;
    font-size: 18px;
    word-wrap: break-word;
}







.webpageinfo-contact {
    height: 30px;
    width: fit-content;
    color: var(--article-icon-color);
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    transition: background-color 0.2s linear;
    padding: 0 5px;
    margin: 0 5px;
    margin-bottom: 5px;
    text-align: center;
    background-color: var(--share-button-default-background);
}

.webpageinfo-contact:active {
    transition: background-color 0s linear;
    background-color: var(--viewbar-click-background-overlay-color);
}