

.webpageinfo-info, .webpageinfo-impressum {
    line-height: 26px;
    font-size: 18px;
    word-wrap: break-word;
}







.webpageinfo-contact {
    margin: 5px;
    display: inline-block;
}

.webpageinfo-documentation {
    margin: 5px;
    display: inline-block;
}

.webpageinfo-contact:active {
    transition: background-color 0s linear;
    background-color: var(--viewbar-click-background-overlay-color);
}