.table-scroll {
    overflow: auto;
    width: min-content;
    height: 100%;
    max-width: 15vw;
    word-wrap: none;
    white-space: nowrap;
    text-align: center;
}

tr {
    height: 35px;
}

tr:hover {
    box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, 0.1);
}

td {
    width: min-content;
    max-width: 30%;
    text-align: center;
}
td.min {
    width: 1%;
    white-space: nowrap;
}